body{
    background-color: #f0f6f6;
    font-family: sans-serif;
    border-radius: 10px;
}

.h1{
    color: #084c61;
    text-align: center;
    font-size: 60px;
}


p{
    color: #474647;
    font-size: 16px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px , bold;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: green;
    color: white;
  }
  
  .topnav-right {
    float: right;
  }

  .goals{
    font-size: 40px , bold;
    
  }

  .finances{
    font-size: 40px , bold;
  
  }

  .info{
    font-size: 40px , bold;
  
  }

  h1{
    color: #084c61;
  }

  h2{
    color: #084c61;
  }

  .mem{
    text-align: center;
    color: #084c61;
    font-size: 60px;
  }

  .mmm{
    text-align: center;
    color: #084c61;
    font-size: 60px;
  }

  .p{
    font-size: 25;
  }

  .topnav b{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px , bold;
  }
  
  .topnav b:hover {
    background-color: #ddd;
    color: black;
  }
  

  
  .topnav-right {
    float: right;
  }

  .pame {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px , bold;
  }
  
  .pame :hover {
    background-color: #ddd;
    color: black;
  }
  

  
  .pame-right {
    float: right;
  }

























