body{
    background-color: #f0f6f6;
    font-family: sans-serif;
}

.h1{
    color: #084c61;
    text-align: center;
    font-size: 60px;
}


p{
    color: #474647;
    font-size: 30px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav-right {
    float: right;
  }